.main-sec {
  display: flex;
  justify-content: center;
}

.control {
  margin: 1rem 0;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}

.control input,
.control textarea {
  width: 100%;
  font: inherit;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.control input:focus,
.control textarea:focus {
  outline: none;
  border-color: springgreen;
  cursor: pointer;
}

.main-sec button {
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid springgreen;
}

.main-sec button:hover {
  background-color: springgreen;
  border: 1px solid #ccc;
}
