.jobs_section {
  display: flex;
  justify-content: space-around;
}
.jobs {
  justify-content: space-around;
  color: rgb(75, 75, 75);
  max-width: 60rem;
  width: 90%;
  margin: 2rem 2rem;
  animation: jobs-appear 1s ease-out forwards;
}

.jobs ul {
  list-style: none;
  margin-left: 0.25rem;
  padding: 0;
}

@keyframes jobs-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 76px) {
  .jobs_section {
    display: block;
  }
}
