.my-img {
  flex: 2;
  height: calc(100vh - 0rem);
  position: -webkit-sticky;
  position: sticky;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  background-color: #101011;

  /* -------- fade in a box added props -------- */
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.my-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* mix-blend-mode: color-dodge; */
  mix-blend-mode: hard-light;
  box-shadow: 41px 4px 95px 9px grey, -41px 5px 67px 8px white;
}

/* -------- fade in a box only -------- */
.my-img:hover img {
  opacity: 0.3;
}

.my-img:hover .overlay {
  /* -------- slide overlay from top -------- */
  /* bottom: 0;
    height: 100%; */

  /* -------- slide overlay from left -------- */
  /* width: 100%; */

  /* fade in a box */

  opacity: 1;
}

.overlay {
  /* -------- slide overlay form top -------- */
  /* position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease; */

  /* -------- slide overlay from left -------- */
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease; */

  /* -------- fade in a box -------- */
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text {
  /* -------- slide overlay form top -------- */
  /* white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */

  /* -------- slide overlay from left -------- */
  /* white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */

  /* -------- faded in a box -------- */
  background-color: black;
  color: rgb(226, 226, 226);
  font-size: 16px;
  padding: 16px 32px;
}
