.uni-align {
  text-align: center;
  margin-top: 6%;
}

.home-container {
  margin-top: 15%;
}

.home-links {
  color: springgreen;
  text-shadow: 2px 6px 60px antiquewhite;
}

.obj_color {
  color: yellow;
}

.date_color {
  color: rgb(223, 33, 223);
}

.copy_name {
  color: rgb(204, 26, 26);
}

.footer_typo {
  /* font-weight: lighter; */
  font-size: small;
}

.about-content {
  margin-top: 5%;
  text-align: center;
  font-weight: lighter;
  font-size: medium;
}

.about_main {
  text-align: left;
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  grid-gap: 1rem;
  grid-row-gap: 0.15rem;
}

.about_main ul {
  display: block;
}

.about_main li {
  list-style: none;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5em;
  color: rgb(119, 119, 119);
}

.ind-job {
  color: gray;
  line-height: 0.5rem;
}
