.uni-align {
  text-align: center;
  margin-top: 6%;
}

.home-container {
  margin-top: 5%;
}

.home-links {
  color: springgreen;
  text-shadow: 2px 6px 60px antiquewhite;
}

.obj_color {
  color: yellow;
}

.date_color {
  color: rgb(223, 33, 223);
}

.copy_name {
  color: rgb(204, 26, 26);
}

.typo {
  font-weight: lighter;
  font-size: x-small;
}
