.App {
  font-size: large;
  font-family: "Turret Road", cursive;
  display: flex;
  color: white;
}

@media only screen and (max-width: 768px) {
  .App {
    display: block;
  }
}

/* -------- default style -------- */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.my-img {
  flex: 2;
  height: calc(100vh - 0rem);
  position: -webkit-sticky;
  position: sticky;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  background-color: #101011;

  /* -------- fade in a box added props -------- */
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.my-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* mix-blend-mode: color-dodge; */
  mix-blend-mode: hard-light;
  box-shadow: 41px 4px 95px 9px grey, -41px 5px 67px 8px white;
}

.section {
  margin-top: 2%;
  margin-left: 3%;
  flex: 4;
  justify-content: flex-start;
}

.header-navs {
  display: flex;
  text-shadow: 8px 6px 16px lightseagreen;
}

.hme {
  flex: 3;
}

.other-navs {
  display: flex;
  justify-content: space-between;
  flex: 2;
  margin-right: 5%;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  cursor: pointer;
  text-shadow: inherit;
}

a:hover {
  /* color: rgb(212, 66, 66); */
  color: lightseagreen;
  text-shadow: 6px 5px 23px white;
}

a:active {
  background-color: inherit;
  box-shadow: 1px 1px lightseagreen;
  transform: translateY(3px);
}

@media only screen and (max-width: 768px) {
  /* -------- For mobile phones -------- */
  .header-navs {
    font-weight: bolder;
    font-size: x-large;
    color: white;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1450px) {
  /* -------- For tabs -------- */
  .header-navs {
    color: white;
  }
}

.blinker {
  font-family: inherit;
  font-size: small;
  text-shadow: 6px 5px 23px rgb(19, 133, 19);
}

.overlay {
  /* -------- slide overlay form top -------- */
  /* position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease; */

  /* -------- slide overlay from left -------- */
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease; */

  /* -------- fade in a box -------- */
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* -------- fade in a box only -------- */
.my-img:hover img {
  opacity: 0.3;
}

.my-img:hover .overlay {
  /* -------- slide overlay from top -------- */
  /* bottom: 0;
  height: 100%; */

  /* -------- slide overlay from left -------- */
  /* width: 100%; */

  /* fade in a box */

  opacity: 1;
}

.text {
  /* -------- slide overlay form top -------- */
  /* white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */

  /* -------- slide overlay from left -------- */
  /* white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */

  /* -------- faded in a box -------- */
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
