.App {
  font-size: large;
  font-family: "Turret Road", cursive;
  display: flex;
  color: #e2e2e2;
}

/* -------- default style -------- */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.section {
  margin-top: 2%;
  margin-left: 3%;
  flex: 4;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  cursor: pointer;
  text-shadow: inherit;
}

a:hover {
  /* color: rgb(212, 66, 66); */
  color: springgreen;
  text-shadow: 6px 5px 23px white;
}

a:active {
  background-color: inherit;
  box-shadow: 1px 1px lightseagreen;
  transform: translateY(3px);
}

.blinker {
  font-family: inherit;
  font-size: small;
  text-shadow: 6px 5px 23px rgb(19, 133, 19);
}

.overlay {
  /* -------- slide overlay form top -------- */
  /* position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease; */

  /* -------- slide overlay from left -------- */
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease; */

  /* -------- fade in a box -------- */
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text {
  /* -------- slide overlay form top -------- */
  /* white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */

  /* -------- slide overlay from left -------- */
  /* white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */

  /* -------- faded in a box -------- */
  background-color: black;
  color: rgb(226, 226, 226);
  font-size: 16px;
  padding: 16px 32px;
}

.footer {
  position: fixed;
  right: 3%;
  bottom: 0;
  /* position: unset;
  text-align: right;
  margin-right: 5%; */
}

@media only screen and (max-width: 768px) {
  .App {
    display: block;
  }
  .footer {
    position: relative;
    bottom: 0;
    text-align: center;
  }
}
