body {
  margin: 0;
  background-color: #101011;
  background-image: linear-gradient(90deg, white -87%, black 55%);
  /* background-image: url("https://avatars.githubusercontent.com/u/60017194?v=4");
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: 51% 100vh; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
