.header-navs {
  display: flex;
  text-shadow: 6px 10px 13px lightseagreen;
  justify-content: space-between;
}

.main-navs {
  display: flex;
  justify-content: space-between;
  flex: 2;
}

.nav-links {
  flex-direction: row;
}

.mob-navs {
  display: none;
}

.main-navs a:first-of-type {
  flex: 5;
}

.main-navs a:not(:first-of-type) {
  justify-content: flex-end;
  margin-right: 5%;
}

@media only screen and (max-width: 768px) {
  .main-navs {
    display: none;
  }
  .mob-navs {
    display: flex;
    flex-direction: column;
  }
  .mob-navs .hamburger {
    cursor: pointer;
  }

  .mob-navs .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: #181818;
    color: lightseagreen;
    z-index: 1;
    border-top: 2px solid red;
    line-height: 2.5rem;
    align-items: center;
    width: 12rem;
    font-weight: bolder;
  }
}
