.header-navs {
  display: flex;
  text-shadow: 6px 10px 13px lightseagreen;
  justify-content: space-between;
}

.main-navs {
  display: flex;
  justify-content: space-between;
  flex: 2;
}

.mob-navs {
  display: none;
}

.main-navs a:first-of-type {
  flex: 5;
}

.main-navs a:not(:first-of-type) {
  justify-content: flex-end;
  margin-right: 5%;
}

@media only screen and (max-width: 768px) {
  .main-navs {
    display: none;
  }
  .mob-navs {
    display: flex;
    align-items: center;
  }
  .mob-navs .hamburger {
    cursor: pointer;
  }
}
