.my-img {
  flex: 2;
  height: calc(100vh - 0rem);
  position: -webkit-sticky;
  position: sticky;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  background-color: #101011;

  /* -------- fade in a box added props -------- */
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.my-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* mix-blend-mode: color-dodge; */
  mix-blend-mode: hard-light;
  box-shadow: 41px 4px 95px 9px grey, -41px 5px 67px 8px white;
}

/* -------- fade in a box only -------- */
.my-img:hover img {
  opacity: 0.3;
}

.my-img:hover .overlay {
  /* -------- slide overlay from top -------- */
  /* bottom: 0;
    height: 100%; */

  /* -------- slide overlay from left -------- */
  /* width: 100%; */

  /* fade in a box */

  opacity: 1;
}
